<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FunFan - Создать Фанфик</title>
</head>
<body>
<div>{% include 'menu.html' %}</div>
<form class="center" action="/create" method="POST">
    <label>
            <p class="create-fanfic-header">Название</p>
            <textarea class="create-fanfic-textarea" id="add-fanfic-name" name="name_fanfic" rows="1" cols="80" spellcheck="false"
                      placeholder="Про что ваш фанфик?"></textarea>
    </label>
    <br>
    <label>
        <p class="create-fanfic-header">Текст</p>
        <textarea class="create-fanfic-textarea" id="add-fanfic-text" name="text_fanfic" rows="10" cols="80" spellcheck="false"
                  placeholder="Изложите свои фантазии здесь!"></textarea>
    </label>
    <br>
    <label>
        <p class="create-fanfic-header">Автор</p>
        <textarea class="create-fanfic-textarea" id="add-fanfic-author" name="author_fanfic" rows="1" cols="80" spellcheck="false"
                  placeholder="Как вас зовут?"></textarea>
    </label>
    <br>
    <label>
        <p class="create-fanfic-header">Категория</p>
        <textarea class="create-fanfic-textarea" id="add-fanfic-category" name="category_fanfic" rows="1" cols="80" spellcheck="false"
                  placeholder="Напишите, к какому жанру/категории отнести ваш фанфик">{{ category }}</textarea>
    </label>
    <br>
    <label>
        <p class="create-fanfic-header">Описание</p>
        <textarea class="create-fanfic-textarea" id="add-fanfic-description" name="description_fanfic" rows="3" cols="80" spellcheck="false"
                  placeholder="Опционально, влияет только на поиск. Можете сюда написать ключевые слова фанфика"></textarea>
    </label>

    <br>
    <button type="submit" class="button-big-beutiful">Создать!</button>


    <br>
</form>
</body>
</html>