<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FunFan - Информация</title>
</head>
<body>
<div>{% include 'menu.html' %}</div>
<div id="main-text-info-fanfic-div" class="center">
  <div>
    <h1 class="header-info">Удобный поиск</h1>
    <p class="p-info">Ищите любые фанфики по тексту или автору при помощи удобного поиска!</p>
    <a href="/find" class="p-info del-link-style button-info-fanfic">Найти фанфик!</a>
  </div>
  <div>
    <h1 class="header-info">Лайкай</h1>
    <p class="p-info">Фанфики можно лайкать, продвигая их в топ!</p>
    <a href="/find" class="p-info del-link-style button-info-fanfic">Лайкать фанфики!</a>
  </div>
  <div>
    <h1 class="header-info">Создавай</h1>
    <p class="p-info">Вы можете создать свой фанфик абсолютно бесплатно!</p>
    <a href="/create" class="p-info del-link-style button-info-fanfic">Создать свой фанфик!</a>
  </div>


</div>
</body>
</html>